<div class="container ecns-post-card" >
      <h1 class="post-card-title text-center">
        <a href="{{url}}" class="text-info" > {{title}}</a>
      </h1>
    <div class="post-full-content">
	<a href="{{url}}">
          <img src="{{feature_image}}" class="post-card-img" />
	 </a>
	 <div  class="">
        {{excerpt words="33"}} 

        <a href="{{url}}" >
	<button type="button" class="btn btn-primarty"> Read More </button>
	</a>
	 </div>
      </div>
        
      
</div>


